In [2]:
import pandas as pd
alumnos = pd.read_csv('alumnos.csv')
print(alumnos)

           nombre  legajo       sexo  edad  password
0            otro      32  masculino    30       123
1            otro      33  masculino    30       123
2  Lucas Krmpotic      15       otro    30      1234
3            maxi     164  masculino    13       123

In [3]:
legajo = 33
alumno = ['otro', legajo, 'masculino', 30, 123 ]

if len(alumnos[alumnos['legajo'] == legajo]) > 0:
    print('error')
else:
    alumnos.loc[len(alumnos)] = alumno 
    alumnos.to_csv('alumnos.csv', index=False)

error

In [4]:
arch = pd.read_csv('alumnos.csv')
arch

           nombre  legajo       sexo  edad  password
0            otro      32  masculino    30       123
1            otro      33  masculino    30       123
2  Lucas Krmpotic      15       otro    30      1234
3            maxi     164  masculino    13       123

In [5]:
nombre = 'alguno'
legajo_desde = 12
legajo_hasta = 122
sexo = 'femenino'
edad_desde = 20
edad_hasta = 25


alumnos_result = alumnos[(alumnos['nombre'] == nombre) | ( str(alumnos['sexo']) == sexo) | \
                         ((alumnos['legajo'] >= int(legajo_desde)) & (alumnos['legajo'] <= int(legajo_hasta))) | \
                         ((alumnos['edad'] >= int(edad_desde)) & (alumnos['edad'] <= int(edad_hasta)))]

alumnos_result

           nombre  legajo       sexo  edad  password
0            otro      32  masculino    30       123
1            otro      33  masculino    30       123
2  Lucas Krmpotic      15       otro    30      1234

In [8]:

for i in range(0, len(alumnos_result)):
    print(alumnos_result[1:2]['nombre'])

1    otro
Name: nombre, dtype: object
1    otro
Name: nombre, dtype: object
1    otro
Name: nombre, dtype: object

In [9]:
table_body = ""

for i in range(0, len(alumnos_result)):
    table_body += "<tr>"
    table_body += "<td>{}</td>".format(alumnos_result.get_value(i, 'nombre'))
    table_body += "<td>{}</td>".format(alumnos_result.get_value(i, 'legajo')) 
    table_body += "<td>{}</td>".format(alumnos_result.get_value(i, 'sexo')) 
    table_body += "<td>{}</td>".format(alumnos_result.get_value(i, 'edad'))
    table_body += "</tr>"

In [10]:
print(table_body)

<tr><td>otro</td><td>32</td><td>masculino</td><td>30</td></tr><tr><td>otro</td><td>33</td><td>masculino</td><td>30</td></tr><tr><td>Lucas Krmpotic</td><td>15</td><td>otro</td><td>30</td></tr>

In [12]:
legajo = 32
password = 123
alumnos[(alumnos['legajo'] == legajo) & (alumnos['password'] == password)]

  nombre  legajo       sexo  edad  password
0   otro      32  masculino    30       123