In [88]:
import pandas as pd
alumnos = pd.read_csv('alumnos.csv')
print(alumnos)

  nombre  legajo       sexo  edad  password
0   maxi      12  masculino    24        31
1   maxi     121  masculino    24       321
2   maxi     122  masculino    24       321
3   otro      32  masculino    30       123

In [89]:
legajo = 32
alumno = ['otro', legajo, 'masculino', 30, 123 ]

if len(alumnos[alumnos['legajo'] == legajo]) > 0:
    print('error')
else:
    alumnos.loc[len(alumnos)] = alumno 
    alumnos.to_csv('alumnos.csv', index=False)

error

In [90]:
arch = pd.read_csv('alumnos.csv')
arch

  nombre  legajo       sexo  edad  password
0   maxi      12  masculino    24        31
1   maxi     121  masculino    24       321
2   maxi     122  masculino    24       321
3   otro      32  masculino    30       123

In [99]:
nombre = 'alguno'
legajo_desde = 12
legajo_hasta = 122
sexo = 'femenino'
edad_desde = 20
edad_hasta = 25


alumnos_result = alumnos[(alumnos['nombre'] == nombre) | ( str(alumnos['sexo']) == sexo) | \
                         ((alumnos['legajo'] >= int(legajo_desde)) & (alumnos['legajo'] <= int(legajo_hasta))) | \
                         ((alumnos['edad'] >= int(edad_desde)) & (alumnos['edad'] <= int(edad_hasta)))]

alumnos_result

  nombre  legajo       sexo  edad  password
0   maxi      12  masculino    24        31
1   maxi     121  masculino    24       321
2   maxi     122  masculino    24       321
3   otro      32  masculino    30       123